html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --link-color: #0070f3;
  --blog-bg: #a516f7b1;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark specific vars */
  }
}
@media (prefers-color-scheme: light) {
  :root {
    /* Light specific vars */
  }
}
