.container {
  padding: 0 1.5rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background: linear-gradient(0deg, rgba(0, 100, 0, 1.0), rgba(0, 0, 0, 0));
  background-position: 10% 10%;
  background-size: 900%;*/
  /*background: linear-gradient(78deg, #0e06ff, rgba(0,0,0,0)), linear-gradient(141deg, #8a15fb, rgba(0,0,0,0))*/
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  /* border-top: 1px solid #eaeaea; */
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: var(--link-color);
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  font-weight: 700;
  margin: 4rem 0;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
  padding-bottom: 4rem;
}
.description a {
  color: var(--link-color);
}
.description a:hover {
  text-decoration: underline;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-weight: 300;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
    border: 10px solid red;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: var(--link-color);
  border-color: var(--link-color);
  /* TODO:  One day...
  background: linear-gradient(215deg, #4afd43, #000000), linear-gradient(132deg, #41e7fc, #000000);
  background-blend-mode: screen, difference, lighten;
  background-size: 300%;
  animation: shit 13s linear alternate infinite;*/
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.blogCard {
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  /* max-width: 800px; */
  width: 100%;
  padding: 1em;
  margin: 0.5em;
  /*background-color: rgba(255, 255, 255, 0.75);*/
  border-radius: 10px;
  border: 1px solid grey;

}
.blogCard:hover,
.blogCard:focus,
.blogCard:active {
  color: var(--link-color);
  border-color: var(--link-color);
  /* TODO:  One day...
  background: linear-gradient(215deg, #4afd43, #000000), linear-gradient(132deg, #41e7fc, #000000);
  background-blend-mode: screen, difference, lighten;
  background-size: 300%;
  animation: shit 13s linear alternate infinite;*/
}
.blogCard h1 {
  margin: 0 0 1rem 0;
  /* font-size: 2rem; */
}
.blogCard p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.wordContent {
  /* TODO: this aint workin
  white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 800px;
}

.blogPageExtras {
  padding: 1em 0em;
  /* padding-top: 1em; */
  margin: 0;
  font-size: 1.55rem;
  line-height: 1.75;
  font-weight: 300;
}
.blogPageExtras2 {
  padding-bottom: 1.75em;
  margin: 0;
  font-size: 1.55rem;
  line-height: 1.75;
  font-weight: 300;
}

.blogPage {
  /* border-style: groove;
  border-width: 8px;
  border-color: var(--blog-bg); */
  box-shadow: -0.5em 0.5em 2em var(--blog-bg);
  /* padding: 2.5em; */
  padding: 0.5em 2em;
  border-radius: 10px;
}
.blogPage h1 {
  font-size: 2rem;
  font-weight: 500;
}
.blogPage p {
  margin: 0;
  font-size: 1.55rem;
  line-height: 1.75;
  font-weight: 300;
  /* text-indent: 2.5em; TODO: Consider */
}

.blogPage pre {
  /* border: 10px dashed crimson;
  max-width: 90vw; */
  margin: -1em -1em 0 -1em;
  /* margin: 0; */
  border-radius: 5px;
}

/* Untested Garbage */
.blogPage
  pre[class*="language-" ],
  .blogPage code[class*="language-"] {
    white-space: normal;
    overflow: auto;
    word-break: break-word;
}
/* Untested Garbage */

.logo {
  height: 1em;
  margin-left: 0.5rem;
}


.bigEmoji {
  text-align: center;
  font-size: 3em;
  letter-spacing: 0.5em;
}

@media (max-width: 600px) {
  .container {
    padding: 0 0rem;
  }  
  .grid {
    width: 100%;
    max-width: 600px;
    flex-direction: column;
  }
  .bigEmoji {
    text-align: center;
    font-size: 2em;
    letter-spacing: 0.25em;
  }
  .blogCard {
    margin: 0.5em 0;
  }

}

.backButton {
  margin: 1rem;
  padding: 1.5rem;
}
.backButton:hover {
  color: var(--link-color);
  cursor: pointer;
  text-decoration: underline;
}


.extras a {
  color: var(--link-color);
  text-decoration: underline;
}

.blogPage a {
  color: var(--link-color);
  text-decoration: underline;
}

.blogPage iframe {
  max-width: 90vw;
}
.grid a:hover,
.grid a:focus,
.grid a:active {
  text-decoration: underline;
  color: var(--link-color);
}


.extras a:hover,
.extras a:focus,
.extras a:active {
  text-decoration: underline;
  color: var(--link-color);
}
