
.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  /*border: 1px solid red;*/
}
.toolCard {
  max-width: 800px;
  padding: 1em;
  margin: 1em;
  /*background-color: rgba(255, 255, 255, 0.75);*/
  border-radius: 10px;
  border: 1px solid grey;
}
.toolTitle {
  text-align: center;
  font-size: 2.5rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
  text-decoration: underline;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

/*@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}*/
